*{
    margin: 0;
    padding: 0;
}
body{
     background-color: aliceblue;
     display: flex;
     justify-content: center;
}
section{
    height: auto;
    width: 90%;
    background-color: white;
    border: 2px solid black;
    display: flex;
overflow: hidden;
}
.left-side-details{
    height: 100%;
    width: 25%;
    padding: 10px;
    background-color: rgb(83, 83, 255);
    display: grid;
    justify-content: center;
}
.imges{
    border: 4px solid white;
    height: 150px;
    width: 150px;
    background-color: gray;
    border-radius: 50%;
}
.main{
    height: 100%;
    width: 80%;
    height: auto;
    background-color: red;
}
