* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}
body {
  background-color: #f4f7f6;
  color: #333;
  overflow-x: hidden;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 10%;
  background: #fff;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.logo {
  font-size: 24px;
  font-weight: bold;
}
.logo span {
  color: #007bff;
}
.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
}

.nav-links a {
    text-decoration: none;
    color: #000000;
    font-size: 15px;
    font-weight: bold;
    position: relative;
}
 
 
.nav-links a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0%;
    height: 2px;
    background: #38bdf8;
    transition: 0.3s;
}

.nav-links a:hover::after {
    width: 100%;
}
.Hero-section{
    height: 45vh;
    width: 100%;
    border-bottom: 1px solid gray;
}
.title h1 {
    font-size: 48px;
    font-weight: 700;
}

.title h1:nth-child(2) {
    color: #38bdf8;
}
.title{
    height: 100%;
    margin: 40px;
}
 
.title p{
    font-size: 22px;
    padding-top: 20px;
    margin-bottom: 20px;
}
.title button {
   background-color: blue;
   border: none;
   color: rgb(255, 255, 255);
   font-weight: bold;
    width: 120px;
    height: 40px;
    border-radius: 10px;
    margin-left: 10px;
}
.about-section{
    width: 100%;
    height: 30vh;
    border-bottom: 1px solid gray;
}
.about-section h1{
    text-align: center;
}
.about-section p{
    width: 65vw;
    padding-top: 10px;
    padding-left: 40px;
}
.skill-section{
    height: 40vh;
    width: 100%;
    border-bottom: 1px solid gray;
}
.project-section{
    border-bottom: 1px solid gray;
    height: 75vh;
    width: 100%;
    border-bottom: 1px solid gray;
    text-align: center;
}
.project-scroll::-webkit-scrollbar{
    display: none;
}
.project-scroll{
    width: 100%;
    height: 70vh;
 overflow-x: scroll;
    gap: 30px;
    display: flex;
    justify-content: center;
}
.project-scroll .card{
    width: 40vw;
    height: 54vh;
    text-align: left;
    border-radius: 20px;
    border: 2px solid black;
    margin-top: 20px;
}
.card img{
width: 93%;
border-radius: 10px;
height: 30vh;
margin: 12px;
}
.card h3{
    font-size: 22px;
    text-align: center;
}
.card p{
    padding-left: 30px;
}
.card button{
    height: 30px;
    width: 120px;
    border-radius: 5px;
   margin-left: 30px;
   margin-top: 5px;
}
.footer{
    height: 40vh;
    width: 100%;
    text-align: center;
    color: rgb(0, 0, 0);
    border-bottom: 2px solid gray;
    
}
.footer form{
    margin-right: 30px;
    width: 25vw;
    text-align: left;
}
.footer form p{
    font-size: 13px;
    color: black;
}
.footer form input {
    width: 100%;
    height: 30px;
    border-radius: 5px;
    padding-left: 20px;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);
}
footer{
    background-color: white;
    height: 8vh;
    width: 100%;
    text-align: center;
}
footer p{
    font-size: 18px;
    font-weight: bold;
    padding-top: 10px;
}