*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(230, 230, 230);
}
nav{
    height: 10vh;
    width: 100%;
    border-bottom: 1px solid gray;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav p{
    font-size: 25px;
    font-weight: bold;
}
nav p span{
   color: rgb(0, 102, 255);
}
nav ul{
    display: flex;
    gap: 30px;
    list-style: none;
}
nav ul li a{
    color: rgb(0, 102, 255);
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
}