/*------RESET-------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #f4f7f6;
  color: #333;
  overflow-x: hidden;
}

/* -------- NAVBAR  -------- */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 10%;
  background: #ffffff;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.logo span {
  color: #38bdf8;
}

 
.menu-btn {
  display: none;
  font-size: 26px;
  cursor: pointer;
}

 
.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav-links li a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
  position: relative;
}

.nav-links li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0%;
  height: 2px;
  background: #38bdf8;
  transition: 0.3s;
}

.nav-links li a:hover::after {
  width: 100%;
}

/*--------HERO-SECTION--------*/
.Hero-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 60vh;
  background: #ffffff;
  border-bottom: 1px solid #ccc;
  padding: 30px 8%;
}

.title h1 {
  font-size: 46px;
}

.title h1:nth-child(2) {
  color: #38bdf8;
}

.title p {
  font-size: 20px;
  margin: 15px 0 25px;
  font-style: italic;
}

.title a {
  text-decoration: none;
  padding: 12px 22px;
  background: #38bdf8;
  color: #fff;
  border-radius: 10px;
  margin-right: 10px;
  font-weight: bold;
  transition: 0.3s;
}

.title a:hover {
  background: #0ea5e9;
}

.image img {
  width: 330px;
}

/*--------ABOUT-SECTION--------*/
.about-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 60px;
  padding: 70px 10%;
  background: #ffffff;
  border-bottom: 1px solid #ccc;
}

.about-section img {
  width: 280px;
  border-radius: 20px;
}

.about-content {
  max-width: 520px;
}

.about-content h2 {
  color: #38bdf8;
  font-size: 32px;
  margin-bottom: 15px;
}

.about-content p {
  line-height: 1.8;
  margin-bottom: 12px;
}

.cv-btn {
  display: inline-block;
  margin-top: 15px;
  padding: 12px 26px;
  background: linear-gradient(135deg, #38bdf8, #0ea5e9);
  border-radius: 30px;
  text-decoration: none;
  color: #020617;
  font-weight: 600;
  margin-right: 12px;
  transition: 0.3s;
}

.cv-btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 25px rgba(56, 189, 248, 0.4);
}
/* ---- Skills section--------------*/
.skill-section {
  height: auto;
  padding: 20px 20px;
  background-color: #e9e8e8;
  border-bottom: 1px solid #ddd;
  text-align: center;
}
.skills-grid {
  margin-top: 30px;
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
  justify-content: center;
} 
.skill {
  height: 260px;
  width: 230px;
  border-radius: 20px;
  padding: 25px 15px;
  cursor: pointer;
  position: relative;
  background: #fff;
  border: 2px solid transparent;
  transition: all 0.4s ease;
}
.skill-h3 {
  color: #02e1ff;
  font-size: 34px;
}  
.skill::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 20px;
  padding: 2px;
  mask-composite: exclude;
  opacity: 0;
  transition: opacity 0.4s ease;
}
.skill:hover::before {
  opacity: 1;
}  
.skill:hover {
  background: linear-gradient(135deg, #525151, #3a3a3a);
  transform: translateY(-12px);
  box-shadow: 0 18px 35px rgba(0, 0, 0, 0.35);
}  
.skill i {
  font-size: 52px;
  color: #007bff;
  margin-bottom: 15px;
  transition:
    transform 0.6s cubic-bezier(0.68, -0.55, 0.27, 1.55),
    color 0.4s ease;
}  
.skill:hover i {
  color: #02e1ff;
  transform: translateY(-10px) rotate(8deg);
} 
.skill h4 {
  font-size: 1.3rem;
  margin-bottom: 8px;
  color: #111;
  transition: color 0.3s ease;
}
.skill p {
  font-size: 0.95rem;
  color: #555;
  transition: color 0.3s ease;
}
.skill:hover h4,
.skill:hover p {
  color: #fff;
}
@media (max-width: 600px) {
  .skills-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }
  .skill {
    width: 100%;
    height: auto;
    padding: 20px 10px;
  }
  .skill i {
    font-size: 40px;
  }
  .skill h4 {
    font-size: 1.1rem;
  }
  .skill p {
    font-size: 0.85rem;
  }
}
/*--------PROJECTS--------*/
.project-section {
  padding: 60px 8%;
  background: #f5f3f3;
}

#projectbtn {
  text-align: center;
  font-size: 2.6rem;
  color: #38bdf8;
}

.project-hrading {
  font-size: 20px;
  margin: 20px 0;
  font-weight: bold;
}

.project-scroll {
  display: flex;
  gap: 30px;
  overflow-x: auto;
  padding-bottom: 20px;
}

.projects-card {
  min-width: 320px;
  background: #fff;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.12);
  transition: 0.4s;
}

.projects-card:hover {
  transform: translateY(-12px);
}

.projects-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.projects-card h3 {
  margin: 15px;
}

.projects-card p {
  margin: 0 15px 20px;
}

.projects-card button {
  width: calc(100% - 30px);
  margin: 0 15px 20px;
  padding: 12px;
  border: none;
  background: linear-gradient(135deg, #02e1ff, #047f9e);
  color: #fff;
  border-radius: 12px;
  cursor: pointer;
}

/*--------FOOTER--------*/
.footer-section {
  background: #ffffff;
  padding: 60px 8%;
}

.footer-container {
  display: flex;
  gap: 60px;
}

.footer-left h2 {
  color: #38bdf8;
}

.social-icons a {
  font-size: 26px;
  margin-right: 15px;
  color: #000;
}
.social-icons a:hover{
  font-size: 28px;
  color: #007bff;
  font-weight: bold;
 
}

.footer-right input,
.footer-right textarea {
  width: 100%;
  margin-bottom: 12px;
  border: none;
  padding: 12px;
  border-radius: 10px;
  border-bottom: 1px solid #ccc;
}

.footer-right button {
  width: 100%;
  padding: 12px;
  background: linear-gradient(135deg, #38bdf8, #0ea5e9);
  border-radius: 30px;
  border: none;
  font-weight: bold;
}

/*--------SCROLL ANIMATION--------*/
.reveal {
  opacity: 0;
  transform: translateY(60px);
  transition: all 0.8s ease;
}

.reveal.active {
  opacity: 1;
  transform: translateY(0);
}
footer{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-top: 1px solid black;
  height: 40px;
}
/*--------MOBILE--------*/
@media (max-width: 768px) {
  .menu-btn {
    display: block;
  }

  .nav-links {
    position: fixed;
    top: 70px;
    right: -100%;
    width: 220px;
    height: 100vh;
    background: #ffffff;
    flex-direction: column;
    padding: 40px 20px;
    gap: 20px;
    transition: 0.4s;
  }

  .nav-links.active {
    right: 0;
  }

  .Hero-section {
    flex-direction: column;
    text-align: center;
  }

  .about-section {
    flex-direction: column;
    text-align: center;
  }

  .footer-container {
    flex-direction: column;
  }
  .Hero-section img{
    display: none;
  }
}
